    <p style="font-size:18px;line-height:5em;">You are now logged out of the system...</p>      
    <%= link_to "Hey Let me back in...I can't get enough notable", {:action=>"login"}, {:class=>"account_link"} %>  

