<div class="help_header">
<h1>Notable! Help</h1><div id="close_help"><a href="#" class="lbAction" rel="deactivate">Done</a></div>
<div style="clear:both"></div>
</div>
<div class="help">
<%= yield %>
</div>